{% extends "layout.html" %}

{% from "macros.html" import action_buttons, display_item, has_writer_role with context %}

{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron index-jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  {% if has_writer_role(current_user) %}
  <div class="row">
    <div class="col-md-12">
      <h2>New item</h2>
      <form action="{{ url_for('add_item') }}" method="POST">
        <div class="form-group form-row align-items-center">
          <div class="col">
            <input type="text" name="name" id="name-input" class="form-control" placeholder="Name" aria-label="Name">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success" id="add-item-btn">Add Item</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-md-12">
      <h2>To Do</h2>
      <ul id="to-do-items" class="list-group mb-4">
        {% for item in view_model.get_items('To Do') %}
          {{ display_item(item) }}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-12">
      <h2>Doing</h2>
      <ul id="doing-items" class="list-group mb-4">
        {% for item in view_model.get_items('Doing') %}
          {{ display_item(item) }}
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-12">
      <h2>Done</h2>
      <ul id="all-done-items" class="list-group mb-4">
        {% if view_model.show_all_done_items()%}
          {% for item in view_model.get_items('Done') %}
            {{ display_item(item) }}
          {% endfor %}
        {% else %}
      </ul>
      <div>
        <ul id="recent-done-items" class="list-group mb-4">
          {% for item in view_model.recent_done_items() %}
            {{ display_item(item) }}
          {% endfor %}
        </ul>
        <details class="details list-group mb-4">
          <summary show-more-summary>
            Previously completed items
          </summary>
          <ul id="older-done-items" class="list-group mb-4">
            {% for item in view_model.older_done_items() %}
              {{ display_item(item) }}
            {% endfor %}
          </ul>
        </details>        
      </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
