{%macro action_buttons(item) -%}
{% if item.status == 'Done' %}
<a href="{{ url_for('uncomplete_item', id=item.id) }}" class="uncomplete-btn btn btn-sm btn-outline-secondary mr-3">Mark as Incomplete</a>
{% elif item.status == 'To Do' %}
<a href="{{ url_for('start_item', id=item.id) }}" class="start-btn btn btn-sm btn-outline-success mr-3">Start</a>
{% else %}
<a href="{{ url_for('complete_item', id=item.id) }}" class="complete-btn btn btn-sm btn-outline-primary mr-3">Complete</a>
{% endif %}
<a href="{{ url_for('delete_item', id=item.id) }}" class="delete-btn btn btn-sm btn-outline-dark">Delete</a>

{%- endmacro %}

{% macro display_item(item) -%}
<li class="list-group-item">
  <div class="row">
    <div class="col-sm-10">
      <h5 >{{ item.name }}</h5>
      <div>
        {% if item.status == 'Done' %}
          {% set badge_style = 'badge-success' %}
        {% elif item.status == 'To Do' %}
          {% set badge_style = 'badge-secondary' %}
        {% else %}
          {% set badge_style = 'badge-primary' %}
        {% endif %}
        <div><span class="badge {{ badge_style }}">{{ item.status }}</span></div>
      </div>
    </div>
    {%if has_writer_role(current_user) %}
    <div class="col-sm-2 d-sm-flex align-items-center justify-content-end p-3">
      {{ action_buttons(item) }}
    </div>
    {% endif %}
  </div>
</li>
{%- endmacro %}

{%macro user_action_buttons(user) -%}
{% if  user.id == current_user.id %}
  <span class="badge badge-info">This is you</span>
{% else %}
<a href="{{ url_for('delete_user', id=user.id) }}" class="delete-btn btn btn-sm btn-outline-dark">Delete</a>
{% endif %}
{%- endmacro %}

{% macro display_user(user) -%}
<li class="list-group-item">
  <div class="row">
    <div class="col-sm-10">
      <h5 >{{ user.id }}</h5>
      <div>
        {% if user.is_admin() %}
          {% set badge_style = 'badge-success' %}
        {% elif user.is_writer() %}
          {% set badge_style = 'badge-primary' %}
        {% else %}
          {% set badge_style = 'badge-primary' %}
        {% endif %}
        <div><span class="badge {{ badge_style }}">{{ user.role_name }}</span></div>
      </div>
    </div>
    <div class="col-sm-2 d-sm-flex align-items-center justify-content-end p-3">
      {{ user_action_buttons(user) }}
  </div>
</li>
{%- endmacro %}

{% macro has_writer_role(user) -%}
    {% if user.has_write_permissions() %}
        {{true}}
    {% endif %}
{%- endmacro %}

{% macro is_admin(user) -%}
  {% if user.is_admin() %}
    {{true}}
  {% endif %}
{%- endmacro %}
