{% extends "layout.html" %}

{% macro display_item(item) -%}
<li class="list-group-item">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ item.name }}</h5>
    {% if item.status == 'Done' %}
      {% set badge_style = 'badge-success' %}
    {% elif item.status == 'To Do' %}
      {% set badge_style = 'badge-secondary' %}
    {% else %}
      {% set badge_style = 'badge-primary' %}
    {% endif %}
    <div><span class="badge {{ badge_style }}">{{ item.status }}</span></div>
  </div>
  {% if item.status == 'Done' %}
    <a href="{{ url_for('uncomplete_item', id=item.id) }}" class="btn btn-sm btn-secondary">Mark as Incomplete</a>
  {% elif item.status == 'To Do' %}
    <a href="{{ url_for('start_item', id=item.id) }}" class="btn btn-sm btn-success">Start</a>
  {% else %}
    <a href="{{ url_for('complete_item', id=item.id) }}" class="btn btn-sm btn-primary">Complete</a>
  {% endif %}
</li>
{%- endmacro %}

{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>New item</h2>
      <form action="{{ url_for('add_item') }}" method="POST">
        <div class="form-group form-row align-items-center">
          <div class="col">
            <input type="text" name="name" id="name-input" class="form-control" placeholder="Name" aria-label="Name">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success">Add Item</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          {{ display_item(item) }}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
